@model WowGuildManager.Models.ViewModels.Admin.AdminIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>I am page for administration</h2>
<h4>Be careful! You are admin and your actions will persist and cannot be changed after</h4>

<h2>Total registered users: @Model.UserCount</h2>

<partial name="_SelectGuildMasterPartial" for="Users" />