@inject SignInManager<WowGuildManagerUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills nav-stacked d-flex flex-column bc p-3">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index" class="btn btn-primary col-sm-12 mb-3">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword" class="btn btn-primary col-sm-12 mb-3">Password</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./PersonalData" class="btn btn-primary col-sm-12 mb-3">Personal data</a></li>
</ul>
