
<div class="webgl-content">
    <a target="_blank" class="btn btn-success border border-dark mb-3 mt-3 col-sm-12" href="https://momchilangelovv.github.io/src/"><h3>Go play "Cows and bulls" - a funny math game!</h3></a>
    <div id="gameContainer" style="width: 1000px; height: 550px"></div>
    <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">FlipBlocks</div>
    </div>
</div>


@section Scripts{
    <script src="~/TemplateData/UnityProgress.js"></script>
    <script src="~/Build/UnityLoader.js"></script>

    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">

    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "Build/WebGLGameUnity.json", { onProgress: UnityProgress });
    </script>
}