<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
        <link rel="stylesheet" href="~/lib/datetime-picker/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
        <link rel="stylesheet" href="~/lib/datetime-picker/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

</head>
<body>
    <partial name="_NavbarPartial" />
    <partial name="_CookieConsentPartial" />

    <div class="container-fluid text-warning">
        @RenderBody()
    </div>

    <partial name="_FooterPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/jquery-3.4.1.min.js"></script>
        <script src="~/lib/popper/popper.min.js"></script>
        <script src="~/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
        <script src="~/lib/datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/font-awesome/js/all.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery-3.4.1.min.js"></script>
        <script src="~/lib/popper/popper.min.js"></script>
        <script src="~/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
        <script src="~/lib/datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/font-awesome/js/all.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
