<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.css" />

        <link href='~/css/fullcalendar.css' rel='stylesheet' />
        <link href='~/css/fullcalendar.print.css' rel='stylesheet' media='print' />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>

</head>
<body style="padding-top:unset; padding-bottom:unset">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Iceblock Citadel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Events" asp-action="Index" class="nav-link">Raids and Events<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Members" asp-action="Index" class="nav-link">Guild Members<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Gallery" asp-action="Index" class="nav-link">Gallery<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Characters" asp-action="Index" class="nav-link">MyCharacters<span class="sr-only">(current)</span></a>
                </li>
                @if (this.User.IsInRole("Admin"))
                {
                    <li class="nav-item active">
                        <a asp-area="Administration" asp-controller="Administration" asp-action="Index" class="nav-link btn btn-danger">Administration section<span class="sr-only">(current)</span></a>
                    </li>
                }
            </ul>

            <partial name="_LoginPartial" />

        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid text-white">
        @RenderBody()
        <hr />

        <footer class="page-footer font-small unique-color-dark pt-4">

            <div class="fixed-bottom bg-white">

                <ul class="list-unstyled list-inline text-center py-2 bg-dark">
                    <li class="list-inline-item">
                        <h5 class="mb-1"></h5>
                    </li>
                    <li class="list-inline-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-dark">Go at start page!</a>
                    </li>
                </ul>

            </div>

        </footer>
    </div>

    <environment include="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
