@{
    ViewData["Title"] = "Privacy Policy";
}
<h2 class="text-center">Deathwing lair @ViewData["Title"]</h2>

<text>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac mauris nibh. Nunc eget velit a ante sagittis mattis eget nec nisi. Nullam efficitur ligula orci, eget molestie arcu vestibulum vitae. Nunc ac gravida augue. Suspendisse sit amet nunc luctus, fringilla diam nec, lobortis velit. Vivamus quis turpis ullamcorper, dapibus massa vel, lacinia nisi. Phasellus ut magna in enim aliquam faucibus ut sed lectus. Ut vestibulum tortor ipsum, ut tincidunt magna porttitor et.</p>

    <p>Nunc eros ex, elementum vitae lacus ac, mattis commodo velit. Vivamus quis maximus turpis. Integer ullamcorper magna venenatis nunc efficitur volutpat. Nam sollicitudin felis in urna suscipit condimentum. Maecenas id mi sit amet purus accumsan pellentesque. Proin rutrum est a bibendum bibendum. Praesent a hendrerit enim. Aliquam efficitur sapien a maximus dictum. Fusce placerat dapibus diam, sit amet rhoncus est molestie vel. Nullam facilisis, odio a ultricies commodo, enim ante finibus nisl, vel congue sem urna sit amet ante. Fusce sed augue id massa maximus laoreet quis eget urna. Curabitur commodo porttitor nibh vitae consectetur. Nam at vulputate augue. Vivamus vitae nisi finibus, commodo velit quis, semper tellus.</p>

    <p>Phasellus vitae blandit sapien. Vestibulum vestibulum urna quis dignissim convallis. Praesent in sem tellus. Maecenas scelerisque urna imperdiet nunc elementum, pellentesque condimentum orci dignissim. Ut non interdum dolor. Sed nunc purus, euismod non augue quis, vestibulum ornare tellus. Sed urna odio, vulputate eu tristique eget, rutrum non mi. Aenean ipsum tellus, egestas at elementum eget, auctor ac metus. Quisque commodo faucibus lorem. Morbi in suscipit sapien. Sed ac mauris sed sem interdum gravida sit amet ut ante. Nam porta dapibus justo quis pulvinar. Cras vitae sapien eget sapien tincidunt tempor id ut neque. Fusce eget condimentum metus. Integer vitae accumsan nisl, id viverra lorem. Vestibulum ultricies viverra sem, vel laoreet tellus ornare sit amet.</p>

    <p>Ut ultricies feugiat nulla, id ultricies ante. Maecenas iaculis feugiat mi, vitae faucibus erat facilisis ut. Suspendisse luctus laoreet purus, id rutrum tortor iaculis ut. Donec sollicitudin egestas lacus eget placerat. Pellentesque lorem ante, mollis at ante a, pretium hendrerit libero. Nam condimentum orci erat, eu aliquet odio varius vitae. Mauris ultricies nibh ut augue maximus malesuada.</p>
</text>
