<div class="container-fluid px-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <a asp-area="" asp-controller="Gallery" asp-action="Index"><img class="d-block w-100"  src="https://bnetcmsus-a.akamaihd.net/cms/page_media/8y/8YZISNXYN2951515095093708.jpg" alt="First slide"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Take a seat and enjoy our honorable guild moments</h5>
                    <p>Go to gallery</p>
                </div>
            </div>
            <div class="carousel-item">
                <a asp-area="" asp-controller="Events" asp-action="Upcoming"><img class="d-block w-100"  src="https://i.redd.it/kulotquzg7y21.jpg" alt="Second slide"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Here you can see every upcoming guild event</h5>
                    <p>Go to upcoming events</p>
                </div>
            </div>
            <div class="carousel-item">
                <a asp-area="" asp-controller="Members" asp-action="Index"><img class="d-block w-100"  src="https://cdn.wallpapersafari.com/73/56/vEfIly.jpg" alt="Third slide"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Mighty legends of Deathwing lair</h5>
                    <p>Go to guild members list</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div id="todayEvents">
    <vc:today-events></vc:today-events>
</div>
