@model WowGuildManager.Models.ViewModels.Gallery.GalleryIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid bc">
    <div class="card-columns m-3">
        @foreach (var image in Model.Images)
        {
            <div class="card m-2 p-2 border border-warning bc">
                <img class="card-img-top p-2" src="@image.Url" alt="Card image cap">
                @if (this.User.IsInRole(WowGuildManagerUserConstants.GuildMaster))
                {
                    <a asp-area="" asp-controller="Gallery" asp-action="MakeNonActualAsync" asp-route-id="@image.Id" class="btn btn-danger btn-sm m-3">Remove picture</a>
                }
            </div>
        }
    </div>
</div>



