<h1>About Deathwing lair</h1>
<p class="lead">
    An Alliance PvE oriented guild.
</p>
<p class="lead">
    Deathwing lair is a friendly guild which has a core of several top players. We are focusing on smooth leveling aswell as helping to gather a stable core of 10 people to start farming high-end dungeons and UBRS. After we have stable core of 10-15 people we are going to push our recruit to increase our raiding core to ~30 people(hopefully 40). Our goal is to make things step by step not rushing for some hardcore raiding at all. We most likely do PvE but some outdoor PvP will be very nice way to show some skills.
</p>

