@model WowGuildManager.Models.ViewModels.Guild.GuildProgressViewModel

<div class="container-fluid bc">
    <vc:guild-progress></vc:guild-progress>
    <hr class="bg-warning" />
    <partial name="_GuildInfoPartial" />
    <hr class="bg-warning" />
</div>
