@model WowGuildManager.Models.ViewModels.Guild.GuildProgressViewModel


<div id="guildProgress">
    <partial name="_GuildProgressPartial" for="RaidDestinationProgresses" />
</div>
<partial name="_GuildInfoPartial" />

@section Scripts{
    <script src="~/js/guildProgress.js">
        
    </script>
}
